* {
    margin: 0;
    padding: 0;
}

.login {
    height: 300px;
    width: 300px;
    margin-top: 10%;
    margin-left: 30%;
    border-radius: 5%;
    box-shadow: #000 0px 0px 5px;
    text-align: center;
}

.avatar {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.username {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 30px;
    font-size: 16px;
    border: none;
    border-bottom: #000 2px solid;
    outline: none;

}

.log-btn {
    margin-top: 20px;
    width: 40px;
    height: 20px;
    border: none;
    border-bottom: #000 2px solid;
    font-size: 16px;
    line-height: 20px;
    background-color: #fff;
}

button:hover {
    border: #000 2px solid;

}

.avatar div {
    width: 55px;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.select {
    border: solid 1px #008c8c;
}

.chat {
    width: 1000px;
    height: 600px;
    margin: auto;
    margin-top: 40px;
    border: 1px solid #000;
    display: flex;

}

.chat .left {
    width: 20%;
    background-color: #0d0729;
}

.chat .right {
    flex-grow: 1;
}

.unShow {
    display: none;
}

.myself {
    height: 12%;
}

.userlist {
    border-top: 3px solid #fff;
    height: 88%;
    overflow-y: auto;
}

.left .avat {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    color: #fff;
}

.left .avat img {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.left .avat div {
    flex-grow: 1;
    line-height: 60px;
}

.right {
    height: 100%;
}

.top {
    background-color: #e2e0d8;
    height: 12%;
    padding-top: 20px;
    padding-left: 200px;
    font-size: 18px;
    box-sizing: border-box;
}

.main {
    background-color: #fff;
    height: 70%;
    overflow: auto;
}

.bottom {
    height: 18%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #e4e4e1;
}

textarea {
    height: 60%;
    resize: none;
    font-size: 16px;
    outline: none;
    border: none;
    background-color: #e4e4e1;
}

.send {
    height: 35px;
    width: 150px;
    background-color: rgb(128, 219, 128);
    position: absolute;
    right: 20px;
    bottom: 20px;

}

.sys {
    margin: 20px;
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: #ccc;
}

.box-left {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-top: 20px;
}

.box-right {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 20px;
}

.msg-left {
    width: 40%;
    display: flex;

}

.msg-right {
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.self .text {
    margin-right: 10px;
    background-color: #008c8c;

}

.other .text {
    margin-left: 10px;
    background-color: #46a122;
}

.text {
    padding: 5px;
    min-width: 60px;
    border-radius: 5%;
    display: flex;
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center
}

.msg-left .info,
.msg-right .info {
    height: 60px;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.msg img {
    width: 40px;
    height: 40px;
}