* {
    margin:0;
    padding:0;
}
body {
    text-align: center;
    background-color: rgb(14, 14, 13);
    color:#535252;
}
audio {
    width: 600px;
    margin-top: 40px;
}
.lrc {
    margin-top: 40px;
    height: 500px;
    overflow: hidden;
}
ul {
    list-style: none;
    /* transform性能比margin-top的变化高 */
    transition: 0.2s;
}
li {
    height: 30px;
    line-height: 30px;
    transition: 0.6s;
    
}
.active {
    /* 直接调整字体大小会重流 */
    color:#fff;
    transform: scale(1.4);
}